.register,
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
  width: 70vw;
  color: var(--gris-oscuro);
}

.full-name,
.new-username,
.email,
.username,
.birthday,
.password,
.address,
.sign-in-btn,
.sign-up-btn {
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  height: 3rem;
  padding-left: 0.8rem;
  font-family: "Roboto";
  border-radius: 0.5rem;
}

.new-username,
.password {
  margin: 3rem 0;
}

.address {
  margin-top: 3rem;
}

.sign-in-btn,
.sign-up-btn {
  color: var(--gris-claro);
  background-color: var(--celeste);
}

.birthday-title,
.user-profile-title,
.interests-title {
  align-self: flex-start;
  color: var(--gris-oscuro);
  margin: 2rem 0;
}

.user-profile-options {
  display: flex;
  align-items: center;
}

.user-profile-option,
.interests-option {
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user-profile-option {
  padding: 0 1rem;
}

.interests-option {
  padding: 0.5rem 0;
}

.user-profile-option input,
.interests-option input {
  border-color: var(--gris-oscuro);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.sign-up-btn {
  margin-top: 3rem;
}
