.register,
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
  width: 70vw;
}

.full-name,
.new-username,
.email,
.username,
.birthday,
.password,
.address,
.sign-in-btn {
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  height: 3rem;
  padding-left: 0.8rem;
  font-family: "Roboto";
  border-radius: 0.5rem;
}

.new-username,
.password {
  margin: 3rem 0;
}

.address {
  margin-top: 3rem;
}

.sign-in-btn {
  color: var(--gris-claro);
  background-color: var(--celeste);
}

.birthday-title,
.user-profile {
  align-self: flex-start;
  color: var(--gris-oscuro);
  margin: 2rem 0;
}
