:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: "Roboto";
  font-weight: 400;
}

body {
  font-size: 1.5rem;
  height: 100vh;
}

.header {
  background-color: var(--amarillo);
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 13rem;
  padding: 1rem 0.5rem;
}

.search-bar {
  display: flex;
  height: 3rem;
}

.search-bar-input {
  width: 90%;
  font-family: "Roboto";
}

.search-bar-button {
  width: 10%;
}

.copy-header {
  text-align: center;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: none;
}

.nav a {
  color: var(--azul);
}

.burger-menu {
  color: white;
  background-color: var(--celeste);
  border: none;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding: 0.7rem 0.9rem;
}

@media (min-width: 590px) {
  .top-bar {
  }

  .nav ul {
    display: flex;
  }

  .burger-menu {
    display: none;
  }
} ;
