<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <% if(locals.errors) { %> <% errors.forEach(error => { %>
    <p><%= error.msg %></p>
    <% }) %> <% } %>

    <form action="/login" method="post">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="<%= (locals.old &&
      old.email) ? old.email : "" %>"/>
      <br />
      <label for="pwd">Contraseña</label>
      <input type="password" id="pwd" name="pwd" />
      <br />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
