<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="header">
      <!-- las tres partes separadas entre si  OK-->
      <h1>TITULO</h1>

      <!-- links uno al lado del otro  OK -->
      <nav class="nav">
        <a href="#" class="link">Link</a>
        <a href="#" class="link">Link</a>
        <a href="#" class="link">Link</a>
        <a href="#" class="link">Link</a>
      </nav>
      <div class="cart">
        <!-- el enlace al carrito (agregar icono), centrado en este """"boton""""  OK -->
        <a href="#" class="link"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </header>

    <main class="main">
      <!-- a la izq la imagen, a la derecha los textos (que deberan estar alineados a la derecha) -->
      <section class="seccion-01">
        <img src="https://picsum.photos/500/200" alt="Una imagen" />

        <div class="texto-01">
          <h2>Subtitlo</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dignissimos, odit, voluptates fugiat sint exercitationem unde animi
            ad vel quas sapiente consequatur. Sapiente dignissimos sequi a natus
            incidunt facilis quia libero!
          </p>
        </div>
      </section>

      <section class="articulos">
        <!-- cada articulo alineado al centro -->
        <article class="articulo">
          <!-- el titulo a la izq -->
          <h4>Titulo</h4>

          <!-- el small y el p al centro -->
          <div class="descripcion">
            <small>precio</small>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
              ratione?
            </p>
          </div>
        </article>

        <article class="articulo">
          <!-- el titulo a la izq -->
          <h4>Titulo</h4>

          <div class="descripcion">
            <!-- el small y el p al centro -->
            <small>precio</small>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
              ratione?
            </p>
          </div>
        </article>

        <article class="articulo">
          <!-- el titulo a la izq -->
          <h4>Titulo</h4>

          <div class="descripcion">
            <!-- el small y el p al centro -->
            <small>precio</small>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
              ratione?
            </p>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
