<footer class="footer">
  <section class="footer-benefit">
    <i class="fas fa-credit-card"></i>
    <h3 class="benefit-title">Pagá con tarjeta o en efectivo</h3>
    <p class="benefit-description">
      Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
      en puntos de pago. ¡Y siempre es seguro!
    </p>
  </section>

  <section class="footer-benefit">
    <i class="fas fa-gift"></i>
    <h3 class="benefit-title">Envío gratis desde $ 2.500</h3>
    <p class="benefit-description">
      Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
      de productos. Es un beneficio de Mercado Puntos.
    </p>
  </section>
  <section class="footer-benefit">
    <i class="fas fa-user-shield"></i>
    <h3 class="benefit-title">Seguridad, de principio a fin</h3>
    <p class="benefit-description">
      ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
      hacer, porque estás siempre protegid@.
    </p>
  </section>
  <section class="footer-copyright">
    <p class="copyright">Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
  </section>
</footer>
