<header class="header">
  <div class="top-bar">
    <div class="left-top-bar">
      <a href="/"
        ><img
          src="img/logo-mercado-liebre.svg"
          alt="Logo Mercado Liebre"
          class="logo"
      /></a>

      <div class="search-bar">
        <input
          type="search"
          placeholder="Buscar productos, marcas y más"
          class="search-bar-input"
        />
        <button class="search-bar-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <p class="copy-header-line">
      <i class="fas fa-hand-holding-usd"></i>
      Comprá en cuotas sin tarjeta de crédito
    </p>
    <div class="copy-header-block">
      <p>
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas sin
      </p>
      <p>tarjeta de crédito</p>
    </div>
  </div>

  <nav class="nav">
    <ul class="site-bar">
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Tiendas Oficiales</a></li>
      <li><a href="#">Vender</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>

    <ul class="login-bar">
      <li>
        <a href="/register"
          >Creá tu cuenta
          <i class="far fa-id-card"></i>
        </a>
      </li>
      <li>
        <a href="/login"
          >Ingresá
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
      <li>
        <a href="#"
          >Mis compras
          <i class="fas fa-shopping-basket"></i>
        </a>
      </li>
    </ul>

    <button class="burger-menu">
      <i class="fas fa-bars"></i>
    </button>
  </nav>
</header>
