<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <div class="header-main">
      <%- include('./partials/header') %>
      <main>
        <form action="/" , method="get" class="register">
          <input
            type="text"
            name="full-name"
            placeholder="Nombre y Apellido"
            class="full-name"
          />

          <input
            type="text"
            name="new-username"
            placeholder="Nombre de Usuario"
            class="new-username"
          />

          <input
            type="email"
            name="user-email"
            placeholder="E-mail"
            class="email"
          />

          <h3 class="birthday-title">Fecha de nacimiento</h3>
          <input type="date" name="birthday" class="birthday" />

          <input
            type="text"
            name="address"
            class="address"
            placeholder="Domicilio"
          />

          <h3 class="user-profile-title">Perfil del usuario</h3>

          <div class="user-profile-options">
            <label class="user-profile-option">
              <input
                type="radio"
                name="user-profile"
                value="Comprador"
                checked
              />
              Comprador
            </label>
            <label class="user-profile-option">
              <input type="radio" name="user-profile" id="Vendedor" />
              Vendedor
            </label>
          </div>

          <h3 class="interests-title">Intereses</h3>

          <label class="interests-option"
            ><input
              type="checkbox"
              name="interest"
              value="Electro"
            />Electro</label
          >
          <label class="interests-option"
            ><input type="checkbox" name="interest" value="Moda" />Moda</label
          >
          <label class="interests-option"
            ><input type="checkbox" name="interest" value="Hogar" />Hogar</label
          >
          <label class="interests-option"
            ><input
              type="checkbox"
              name="interest"
              value="Juguetería"
            />Jugetería</label
          >
          <label class="interests-option"
            ><input type="checkbox" name="interest" value="Vida_Sana" />Vida
            Sana</label
          >

          <button class="sign-up-btn">Crear cuenta</button>
        </form>
      </main>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
